name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test -- --coverage

      - name: Build
        run: npm run build
      - name: Publish
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  release:
    name: CD
    needs: build
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Deploy-Dev
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy dist/practice4/index.js --name blue-shadow-59f1 --compatibility-date 2026-02-26 --compatibility-flags=nodejs_compat --assets dist/client