name: Deploy to Github Pages

on:
    push:
        branches: [main]

jobs:
    build:
        name: CI
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22
                cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Test
              run: npm run test -- --coverage
            
            - name: Build
              run: npm run build
            - name: Publish
              uses: actions/deploy-pages@v4
              with:
                name: dist
                path: dist/
    deploy:
        name: CD
        needs: build
        runs-on: ubuntu-latest
        environment: dev

        steps:
            - name: Download build artifact
              uses: actions/download-artifact@v4
              with:
                name: dist
                path: dist/

            - name: Deploy dev
              uses: cloudflare/wrangler-action@v3
              with:
                api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                account-id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                command: deploy dist/practice4/index.js --compatibility-date 2026-02-26 --compatibility-flags=nodejs_compat --assets-dir dist/practice4/client
                




            

        